version: "3"
services:
  # dnmp
  nginx:
    image: ghcr.io/zvonimirsun/nginx-brotli:alpine
    container_name: nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      # html
      - ./nginx/html:/usr/share/nginx/html
      # nginx configs
      - ./nginx/conf:/etc/nginx:ro
      # certificates
      - ./ssl:/ssl:ro
    networks:
      - nginx
    depends_on:
      - php

  mysql:
    image: mysql:5
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 127.0.0.1:3306:3306
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - mysql

  php:
    build: ./php-fpm
    image: php:7-fpm-alpine-custom
    container_name: php
    restart: always
    ports:
      - 127.0.0.1:9000:9000
    volumes:
      - ./php-fpm/php.ini:/usr/local/etc/php/php.ini:ro
      - ./nginx/html:/usr/share/nginx/html
    networks:
      - mysql
      - nginx
    depends_on:
      - mysql

  # Let's encrypt
  acme.sh:
    image: neilpang/acme.sh
    container_name: acme.sh
    restart: always
    command: daemon
    #environment:
    #  - CX_Key="some key"
    #  - CX_Secret="some secret"
    volumes:
      - ./ssl:/acme.sh
    network_mode: host

networks:
  nginx:
  mysql:
